<table class=" table table-dark">
    <thead>
        <tr class="table table-primary" id="table_header">
            <th>Name</th>
            <th id="category_col">Category</th>
            <th>Job Names</th>
            <th>Duration</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr class="table-light">
            <td scope="row">{{ job.worker.first_name }}</td>
            <td  id="category_rows">{{ job.category.name }}</td>
            <td>{{ job.name }}</td>
            <td>{{ job.duration }}</td>         
            <!-- <td><a href="/{{ user.id }}">{{ logged_user.user_name }}</a></td> -->
            <td>{{ job.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>