  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        {% if 'userid' in request.session %}
          Welcome {{ logged_user.first_name }}!
        {% else %}
          The Collar App
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          {% if 'userid' in request.session %}
          <li class="nav-item">
            <a class="nav-link active" href="/market">Marketplace
              <span class="visually-hidden"></span>
            </a>
          </li>
          {% if request.session.isworker == True %}
          <li class="nav-item">
            <a class="nav-link" href="/dash">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create New Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/signin/logout">Log Out</a>
          </li>
      </ul>
      <form class="d-flex"action="/market/search" method="POST" id="searchForm">
        {% csrf_token %}
        <input class="form-control me-sm-2" type="text" placeholder="Enter Job/Service Name" name="searchMarket" id="searchMarket">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signin/login">Sign In</a>
          </li>
        </ul>
        {% endif %}
        
      </div>
    </div>
  </nav>