<!DOCTYPE html>
<html lang="en">
    {% include "partials/header.html" %}

    {% load static %}
    <script src="{% static 'validations_login.js' %}"></script>
    <title>My Account</title>
</head>
<body>
    {% include "partials/navbar.html" %}
    
    <h1>Welcome {{logged_user.first_name}}!</h1>

    <div class="container">

        <div class = "row">
            <div class="col md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="profile">
                    <div class="card-body">
                        <p class="card-text">{{logged_user.first_name}} {{logged_user.last_name}}</p>
                        <!--If statement to determine work or user-->

                    </div>
                  </div>
            </div>
        </div>

        <div class = "row"> 
            <div class = "col md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Current Jobs
                    </div>
                    <!--For loop to print jobs-->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>

                  <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      My Skills
                    </div>
                    <!--For loop to print skills-->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cras justo odio</li>
                      <li class="list-group-item">Dapibus ac facilisis in</li>
                      <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                  </div>

            </div>

            <div class = "row"> 
                <div class = "col md-6 mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          My Leads
                        </div>
                        <!--For loop to print leads-->
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                      </div>
    
                      <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          My Goals
                        </div>
                        <!--For loop to print goals-->
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                      </div>
    
                </div>


        </div>
        
    </div>
    
</body>
</html>