<!DOCTYPE html>
<html lang="en">
    {% include "partials/header.html" %}

    {% load static %}
    <script src="{% static 'validations_login.js' %}"></script>
    <title>My Account</title>
</head>
<body>
    {% include "partials/navbar.html" %}
    
    <h1>Welcome {{logged_user.first_name}}!</h1>

    <div class="container">

        <div class = "row">
            <div class="col md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="profile">
                    <div class="card-body">
                        <p class="card-text">{{logged_user.first_name}} {{logged_user.last_name}}</p>
                        <!--If statement to determine work or user-->

                    </div>
                  </div>
            </div>
        </div>

        <div class = "row"> 
            <div class = "col md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Current Jobs
                  <tbody>
                    <!-- If statement to get user state -->
                    <!-- For loop to print jobs -->
                    {% for job in jobs %}
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{ job.category.name }}</li>
                      <li class="list-group-item">{{ job.name }}  -- {{ job.duration }}</li>
         
                    </ul>
                    {% endfor %}
                  </tbody>
                  </div> 
            </div>
      

                  <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      My Skills
                    <tbody>
                      <!--For loop to print skills
                      placeholder for now-->
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Commercial and Residential Meters</li>
                        <li class="list-group-item">Streetlights</li>
                      </ul>
                    </tbody>
                  </div>
                  </div>
            </div>

            <div class = "row"> 
                <div class = "col md-6 mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          My Leads
                          <tbody>
                            <!--For loop to print leads-->
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Panera on 10th</li>
                              <li class="list-group-item">Greenhouse Facilities</li>
                            </ul>
                          </tbody>
                      </div>
                      </div>
                       
    
                      <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          My Goals
                          <tbody>
                          <!--For loop to print goals-->
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">3 more clients by word of mouth next month</li>
                            <li class="list-group-item">Average 4 jobs a month</li>
                          </ul>
                          </tbody>
                        </div>
                      </div>
                </div>


        </div>
        
    </div>
    
</body>
</html>