<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/header.html" %}
    <title>Marketplace</title>
</head>
<body>
    {% include "partials/navbar.html" %}
    <div class="container-fluid p-2">
        <div class="row text-center p-2">
            <h3>Check out these services!</h3>
                
        </div>
        
    
        <div id="category_cards" class="row d-flex flex-wrap g-sm-5 text-center justify-content-center">
        {% for category in categories %}
            <div class="col-auto">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem; min-width: 20rem">
                    <div class="card-header"><h3 class="m-1">{{ category.name}}</h3></div>
                    <div class="card-body bg-info" style="min-height: 12rem">
                        <h5 class="card-title">Total of {{ category.jobs.count}} services!</h5>
                        <p class="card-text">{{ category.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>
