<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/header.html" %}
    <title>Marketplace</title>
</head>
<body>
    {% include "partials/navbar.html" %}
    <div class="container-fluid p-2">
        <div class="welcome">
            <h4>Welcome {{ logged_user.first_name }}!</h4>   
        </div>
        <div class="jobs">
            <h3>Your jobs</h3>
                {% csrf_token %}
                <div id="market_table">
                    {% include "partials/market_table.html" %}
                </div>
        </div>
    </div>
</body>
</html>