{{error}}
{% if bad == True %}
    <script>
    $('#{{divID}}').removeClass('is-valid');
    $('#{{divID}}').addClass('is-invalid');
    $('#{{divID}}Msg').removeClass('valid-feedback');
    $('#{{divID}}Msg').addClass('invalid-feedback');
    </script>
{% else %}
    <script>
    $('#{{divID}}').removeClass('is-invalid');
    $('#{{divID}}').addClass('is-valid');
    $('#{{divID}}Msg').removeClass('invalid-feedback');
    $('#{{divID}}Msg').addClass('valid-feedback');
    </script>
{% endif %}
